{% load staticfiles %}
{% load sass_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ManaZeak</title> <!-- TODO : display and animate track metadata -->
        <link rel="stylesheet" type="text/css" href="{% sass_src "scss/style.scss" %}">
    </head>
    <body>
        <!-- <p>Ctrl + M : mute</p>
        <p>&rarr; : fastforward 10s</p>
        <p>Ctrl + &rarr; : fastforward 30s</p>
        <p>&larr; : rewind 10s</p>
        <p>Ctrl + &larr; : rewind 30s</p>
        <p>&uarr; : ++volume 1</p>
        <p>Ctrl + &uarr; : ++volume 10</p>
        <p>&darr; : --volume 1</p>
        <p>Ctrl + &darr; : --volume 10</p>
        <p>Ctrl + q : toggle queue</p>
        <p>Space : Play/Pause</p> -->

        <audio id="audioPlayer">
            <source src="" type="audio/ogg">
             Your browser does not support the audio element.
        </audio>

        <!-- Add absolute path in js TODO : to something about deaz ... -->
        <script type="text/javascript" src="{% static "js/lib/d3.v3.min.js" %}"></script>
        <script type="text/javascript" src="{% static "dist/js/bundle.js" %}"></script>
    </body>
</html>
